extends cgeneral

snippet fen "For each number"
for (${1:i} = ${2:0}; $1 < ${3:/* stop */}; $1++) {
	${VISUAL}${4}
}
endsnippet

snippet once
#ifndef ${1:`toupper(Filename('$1_H', 'UNTITLED_H'))`}
#define $1

${VISUAL}${2}

#endif /* end of include guard: $1 */
endsnippet
