snippet eif "Else if ..."
else if (${1:/* condition */}) {
	${VISUAL}${2}
}${3}
endsnippet
snippet if "If ..."
if (${1:/* condition */}) {
	${VISUAL}${2}
}${3}
endsnippet
snippet ife "If ... else ..."
if (${1:/* condition */}) {
	${VISUAL}${2}
}
else {
	${3}
}${4}
endsnippet
snippet r "Return"
return ${VISUAL}${1};
endsnippet
snippet wh "While ..."
while (${1:/* condition */}) {
	${VISUAL}${2}
}${3}
endsnippet
