snippet #!
#!/usr/bin/env bash
endsnippet
snippet eif
elif [[ ${1} ]]; then
	${VISUAL}${2}
endsnippet
snippet if
if [[ ${1} ]]; then
	${VISUAL}${2}
fi${3}
endsnippet
snippet ife
if [[ ${1} ]]; then
	${VISUAL}${2}
else
	${3}
fi${4}
endsnippet
snippet wh
while [[ ${1} ]]; do
	${VISUAL}${2}
done${3}
endsnippet
